/* .navbar-home img 
{
    max-height: 150px;
    width: auto;
}
 .layout-side-section
{
background-color:#11a591 !important;
}
.sticky-top,.navbar
{
background-color:#d32791 !important;
background:#d32791 !important;
}
.widget:hover{
    background-color:#DCDCDC

}

li.dropdown.dropdown-help.dropdown-mobile {
    display: none;
}


.dropdown-help {
display: none !important;
} */